Repository pshempel/mcp-time-server-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,js}": ["prettier --write"]
}

refactor: rename package from mcp-time-server to mcp-time-server-node
  CLAUDE_CODE_SETUP.md
  README.md
  examples/mcp-config-example.json
  examples/mcp-config-npx.json
  package-lock.json
  package.json
  src/index.ts
  tests/index.rateLimit.test.ts
  tests/index.test.ts
  tests/integration/helpers/setup.ts
Due: eslint --fix, prettier --write

docs: update README with 10 tools, 703 tests, and security features
  README.md
Due: none

feat(stress-test): implement basic Python stress tester with TDD
  docs/verified-behaviors/python-stress-test-research.md
  research/python-stress-test-research.py
  research/test-mcp-from-python.py
  tests/stress/__init__.py
  tests/stress/__pycache__/stress_test.cpython-311.pyc
  tests/stress/stress_test.py
  tests/stress/test_memory_leak.py
Due: none

chore: add Python linting with flake8
  .flake8
  Makefile
Due: none

feat(stress-test): add MCP request hammering functionality
  tests/stress/__pycache__/stress_test.cpython-311.pyc
  tests/stress/run_memory_test.py
  tests/stress/stress_test.py
  tests/stress/test_hammer_server.py
  tests/stress/test_memory_leak.py
Due: none

fix(stress-test): remove absolute paths from output for privacy
  tests/stress/README.md
  tests/stress/__pycache__/config.cpython-311.pyc
  tests/stress/__pycache__/stress_tester.cpython-311.pyc
  tests/stress/config.py
  tests/stress/results/stress_test_20250728_190055.json
  tests/stress/results/summary.json
  tests/stress/run_stress_test.py
  tests/stress/stress_tester.py
Due: prettier --write

test: validate stress test scenarios
  tests/stress/results/stress_test_20250728_190405.json
  tests/stress/results/stress_test_20250728_190446.json
  tests/stress/results/summary.json
Due: prettier --write

test(phase-6): add RED tests for natural language date parsing
  docs/verified-behaviors/natural-language-parsing.md
  research/natural-language-api-patterns.js
  research/natural-language-parsing.js
  tests/tools/parseNaturalDate.test.ts
Due: eslint --fix, prettier --write

feat(phase-6): implement natural language date parsing with holiday support
  package-lock.json
  package.json
  research/openwebui-explicit-tool-test.js
  research/openwebui-integration-test.js
  research/openwebui-tool-test.js
  research/test-chrono.js
  research/test-date-holidays.js
  src/index.ts
  src/tools/daysUntil.ts
  src/tools/index.ts
  src/tools/parseNaturalDate.ts
  src/types/index.ts
  src/utils/commonHolidays.ts
  src/utils/holidayLoader.ts
  src/version.json
  tests/tools/parseNaturalDate.test.ts
Due: eslint --fix, prettier --write

chore: remove personal hooks from tracking
  hooks/enforce-shellcheck.sh
  hooks/enforce-tool-usage.py
Due: none

chore: add internal documentation and research for GitLab
  research/natural-language-api-patterns.js
  research/natural-language-parsing.js
  research/openwebui-explicit-tool-test.js
  research/openwebui-integration-test.js
  research/openwebui-tool-test.js
  research/test-chrono.js
  research/test-date-holidays.js
Due: prettier --write

chore: disable GitLab CI/CD pipelines
  .gitlab-ci.yml
Due: none

docs: add CI/CD strategy for GitLab-first testing
  .gitlab-ci.yml
Due: none

docs: session 108 cleanup and mcpo documentation
  .gitignore
  src/version.json
Due: prettier --write

chore: define script placement rules and create internal/ structure
  .gitignore
  package.json
  src/index.ts
  src/tools/daysUntil.ts
  src/tools/index.ts
  src/tools/parseNaturalDate.ts
  src/utils/commonHolidays.ts
  src/utils/holidayLoader.ts
  src/version.json
  tests/tools/parseNaturalDate.test.ts
Due: eslint --fix, prettier --write

feat: add @gitbeaker/rest for GitLab API integration
  package-lock.json
  package.json
Due: prettier --write

chore: internal tools and TDD sprint-to-issues converter
  research/documentation-sources.md
  research/mcp-error-spec-verification.js
  research/test-gitbeaker-api.js
  research/test-gitlab-create-pattern.js
  research/test-gitlab-issue-create.js
  research/test-gitlab-title.js
Due: prettier --write

fix: migrate to SDK-compliant error handling (Issue #1)
  src/index.ts
  src/tools/addTime.ts
  src/tools/calculateBusinessHours.ts
  src/tools/convertTimezone.ts
  src/tools/daysUntil.ts
  src/tools/formatTime.ts
  src/tools/nextOccurrence.ts
  src/tools/recurrence/RecurrenceFactory.ts
  src/tools/recurrence/RecurrenceValidator.ts
  src/utils/businessHoursHelpers.ts
  src/utils/businessUtils.ts
  src/version.json
  tests/integration/advanced.test.ts
  tests/integration/errorHandling.test.ts
  tests/integration/helpers/setup.ts
  tests/integration/tools/addTime.integration.test.ts
  tests/integration/tools/calculateBusinessHours.integration.test.ts
  tests/integration/tools/daysUntil.integration.test.ts
  tests/integration/tools/formatTime.integration.test.ts
  tests/integration/tools/nextOccurrence.integration.test.ts
  tests/integration/tools/subtractTime.integration.test.ts
  tests/tools/addTime.test.ts
  tests/tools/convertTimezone.test.ts
  tests/tools/formatTime-refactored.test.ts
  tests/tools/nextOccurrence.test.ts
Due: eslint --fix, prettier --write

test: add error-handling-fix test suite
  tests/tools/error-handling-fix.test.ts
Due: eslint --fix, prettier --write

chore: remove personal hook symlinks
  hooks/enforce-shellcheck.sh
  hooks/enforce-tool-usage.py
Due: none

test: fix all remaining test expectations for SDK error format
  src/tools/getBusinessDays.ts
  src/tools/getCurrentTime.ts
  src/utils/validation.ts
  tests/security/inputValidation.test.ts
  tests/tools/addTime-validation.test.ts
  tests/tools/convertTimezone-validation.test.ts
  tests/tools/daysUntil.test.ts
  tests/tools/error-handling-fix.test.ts
  tests/tools/formatTime.test.ts
  tests/tools/getBusinessDays.test.ts
  tests/tools/getCurrentTime.test.ts
  tests/tools/recurrence/RecurrenceFactory.test.ts
  tests/tools/recurrence/RecurrenceValidator.test.ts
  tests/tools/subtractTime.test.ts
  tests/utils/businessUtils.test.ts
Due: eslint --fix, prettier --write

fix: add missing debug.error() logging before throws (Issue #30)
  src/index.ts
  src/tools/addTime.ts
  src/tools/calculateBusinessHours.ts
  src/tools/calculateDuration.ts
  src/tools/getBusinessDays.ts
  src/utils/businessHoursHelpers.ts
  src/utils/holidayAggregator.ts
  src/utils/parseTimeInput.ts
  src/utils/validation.ts
Due: eslint --fix, prettier --write

fix: complete error architecture and resolve all linting issues
  src/adapters/mcp-sdk/README.md
  src/adapters/mcp-sdk/errors.ts
  src/adapters/mcp-sdk/index.ts
  src/adapters/mcp-sdk/mapper.ts
  src/types/mcp-sdk-fixes.d.ts
  src/utils/businessHoursHelpers.ts
  src/utils/businessUtils.ts
  tests/adapters/mcp-sdk/errors.test.ts
  tests/adapters/mcp-sdk/mapper-edge-cases.test.ts
  tests/adapters/mcp-sdk/mapper.test.ts
  tests/integration/error-handling-chain.test.ts
Due: eslint --fix, prettier --write

test: update all integration tests to use new error format
  tests/index.rateLimit.test.ts
  tests/index.test.ts
  tests/integration/advanced.test.ts
  tests/integration/errorHandling.test.ts
  tests/integration/toolDescriptions.test.ts
  tests/integration/tools/addTime.integration.test.ts
  tests/integration/tools/calculateBusinessHours.integration.test.ts
  tests/integration/tools/daysUntil.integration.test.ts
  tests/integration/tools/formatTime.integration.test.ts
  tests/integration/tools/nextOccurrence.integration.test.ts
  tests/integration/tools/subtractTime.integration.test.ts
  tests/security/inputValidation.test.ts
  tests/tools/addTime-validation.test.ts
  tests/tools/addTime.test.ts
  tests/tools/calculateDuration-validation.test.ts
  tests/tools/calculateDuration.test.ts
  tests/tools/convertTimezone-validation.test.ts
  tests/tools/convertTimezone.test.ts
  tests/tools/daysUntil.test.ts
  tests/tools/error-handling-fix.test.ts
  tests/tools/formatTime.test.ts
  tests/tools/getBusinessDays.test.ts
  tests/tools/getCurrentTime.test.ts
  tests/tools/nextOccurrence.test.ts
  tests/tools/recurrence/RecurrenceFactory.test.ts
  tests/tools/recurrence/RecurrenceValidator.test.ts
  tests/tools/subtractTime.test.ts
  tests/utils/businessUtils.test.ts
Due: eslint --fix, prettier --write

style: fix import order and formatting
  .prettierrc.json
  src/index.ts
  src/tools/addTime.ts
  src/tools/calculateBusinessHours.ts
  src/tools/calculateDuration.ts
  src/tools/convertTimezone.ts
  src/tools/daysUntil.ts
  src/tools/formatTime.ts
  src/tools/getBusinessDays.ts
  src/tools/getCurrentTime.ts
  src/tools/nextOccurrence.ts
  src/tools/recurrence/RecurrenceFactory.ts
  src/tools/recurrence/RecurrenceValidator.ts
  src/utils/validation.ts
  src/version.json
Due: eslint --fix, prettier --write
